*out
*logs
*actions
*notifications
*tools
plugins
user_trunk.yaml
user.yaml
tmp
.user_trunk
*flask_session
*__pycache__
app.yaml
PyWhatKit_DB.txt
requirements1.txt
*static/payment/
*venv
PyWhatKit_DB.txt